body {
	background: #000000;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#experience,
#experience .fp-slide,
#experience .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell {
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,h2,h3,h4,h5 {
    color: #ffffff;
    font-weight: bold;
}
/* end all heading */

/* start all section */
#work, #about, #experience, #contact, #education{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* end all section */

/* start home */       
#home {
    text-align: center;
}
#home .pic {
    max-width: 100%;
}
#home button:hover {
    background: #ffffff;
}
#home h1 {
    border: 2px solid #ffffff;
    color: #ffffff;
    display: inline-block;
    letter-spacing: 6px;
    padding: 25px 35px;
    margin: 30px 0;
}
#home h2 {
    padding-bottom: 10px;
}
#home .btn {
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 2em;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
#home .social-icon {
    height: 2em;
    width: 2em;
}
#home .cert-icon {
    height: 4em;
}
#home .fa-envelope{
    height: 2em;
    padding-top: 0.4em
}
/* end home */

/* start work */
#work {
    background: #1a1a1a;
}
#work h2 {
    text-align: center;
}
#work .media {
    margin-top: 30px;
}
#work .media .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    font-size: 24px;
    margin-right: 24px;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in;
}
#work .media .fa:hover {
    background: #ffffff;
}
#work .media .media-heading {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}
/* end work */

/* start about */
#about h4 {
    padding: 15px 0;
    color: #D43F52;
}
#about .progress {
    border-radius: 4px;
    background: #ffffff;
    height: 4px;
}
#about .progress .progress-bar-danger {
    background: #D43F52;
}
#about .text-top {
    padding-top: 80px;
}
#about span {
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
}
#about small {
    font-weight: bold;
    float: right;
}
/* end about */

/* start experience */
#experience {
    background: #1a1a1a;
    text-align: left;
}
#experience h2 {
    padding-bottom: 20px;
}
#experience h4 {
    color: #D43F52;
}

#experience .time {
    font-weight: 100;
    color: #efefef
}

#experience p {
    font-weight: 600;
}
#experience .experience-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
/* end experience */

/* start education */
#education {
    text-align: left;
}
#education h2 {
    padding-bottom: 20px;
}
#education h4 {
    color: #D43F52;
}
#education p {
    font-weight: 600;
}
#education .education-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
/* end education */

#projects{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1a1a1a;
    text-align: left;
}

@media (max-width: 767px) {
    #about .text-top {
        padding-top: 20px;
    }
}
